.jobs-route-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.jobs-route-responsive-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.jobs-filters-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2c364c;
  border-radius: 3px;
  margin-bottom: 18px;
}

.search-input {
  color: #7e858e;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding-left: 14px;
}

.search-btn {
  cursor: pointer;
  background-color: #201f1f;
  outline: none;
  border: none;
  padding: 5px 18px;
}

.search-icon {
  color: #f8fafc;
  height: 16px;
  width: 16px;
}
