.similar-job-item {
  background-color: #272727;
  border-radius: 12px;
  list-style-type: none;
  margin-bottom: 28px;
  width: 100%;
  max-width: 300px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.similar-job-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .similar-job-item {
    width: 33%;
  }
}
